{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <style>
        label.required:before {
            content: "* ";
        }
    </style>

    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-5">
                    <h2>Enregistrement</h2>
                    <span class="text-muted"><small>*: champ requis</small></span>

                     {{form_start(registrationForm)}}
                        {{form_widget(registrationForm)}}
                        <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
                    {{form_end(registrationForm)}}
                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}