
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Biblios</h1>
            <p class="lead">Catalogue en ligne de la médiathèque de Trifouillis-les-Oies</p>
            <p class="lead fs-4">Un site de démonstration pour une commune qui, soyons honnêtes, n’a jamais existé ailleurs que dans notre imagination.</p>
            <a class="btn btn-lg btn-light" href="{{ path('app_book_index')}}">Parcourez le catalogue</a>
        </div>
    </header>
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <p class="lead">Biblios est la plateforme officielle (ou presque) de consultation du catalogue de la bibliothèque municipale de Trifouillis-les-Oies.
                    <p>
                        Toutes les données présentées sont générées automatiquement : les livres, les auteurs, les résumés, les commentaires… Bref, toute ressemblance avec des ouvrages existants serait purement fortuite (ou un heureux hasard de l’algorithme).
                    </p>
                    <p>Fonctionnalités clés :</p>
                    <ul>
                        <li>Consultation du catalogue complet</li>
                        <li>Fiches détaillées pour chaque ouvrage : auteur, résumé, disponibilité et commentaires</li>
                        <li>Ajout de commentaires sur les livres (membres connectés uniquement)</li>
                        <li>Ajout, modification et suppression de livres (droits d’édition requis)</li>
                   
                    </ul>
                      <p class="mt-4">
                        Pour commenter ou gérer les livres, veuillez vous <a href="{{ path('app_login') }}">connecter</a>.
                    </p>
                    <p class="text-muted fst-italic mt-3">
                        Note : Trifouillis-les-Oies n’apparaît dans aucun atlas, et aucun bibliothécaire n’y a jamais été aperçu. Ce site est un projet expérimental.
                    </p>
                </div>
    </section>
{% endblock %}
